@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* Contenedor principal */
.customRectangle {
    display: flex;
    flex-direction: row; /* Alineación horizontal por defecto */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: #41B59A;
    border-radius: 0 0 60% 0;
    margin-top: 75px;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.3s ease;
    padding: 20px;
}

/* Imagen responsiva */
.responsiveImage {
    flex-basis: 200px; /* Establece un tamaño inicial para la imagen */
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}

/* Contenedor de texto y logo */
.textContent {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #fff;
    margin-top: 0px;
    text-align: left;
    flex-basis: 250px; /* Establece un tamaño inicial para el texto */
    margin-right: 20px;
}

/* Logo de UPIICSA */
.logoupiicsa {
    flex-basis: 25%; /* Establece un tamaño inicial para el logo */
    max-width: 25%;
    height: auto;
    margin-right: 16%;
    margin-top: -10%;
}

/* Responsivo */
@media (max-width: 1020px) {
    .customRectangle {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        height: auto; /* Ajusta la altura automáticamente */
        border-radius: 0 0 40% 0;
    }

    .responsiveImage {
        width: 80%; /* Ajusta el tamaño de la imagen */
        margin-top: 5%;
        margin-left: 10%; /* Centra la imagen */
    }

    .textContent {
        font-size: 1rem; /* Tamaño de texto más pequeño en pantallas medianas */
        width: 80%; /* Hace que el texto ocupe el mismo ancho que la imagen */
        margin-left: 10%; /* Centra el texto */
        margin-bottom: 10px; /* Agrega separación debajo del texto */
    }

    .logoupiicsa {
        width: 80%; /* El logo se adapta al ancho disponible */
        max-width: 80%;
        margin-left: 10%; /* Centra el logo */
        margin-top: 10px; /* Espacio entre el logo y el texto */
    }
}

/* Pantallas más grandes */
@media (min-width: 1021px) {
    .customRectangle {
        flex-direction: row; /* Mantiene alineación horizontal */
        height: 80%;
        border-radius: 0 0 50% 0;
    }

    .responsiveImage {
        width: 80%;
        height: auto;
        object-fit: contain;
        margin-top: -10%;
        margin-left: 10%;
        margin-right: auto;
        display: block;
    }

    .textContent {
        font-size: 1rem;
        width: 80%;
        margin-top: 10px;
        margin-left: 10%;
        margin-right: auto;
        text-align: justify;
    }

    .logoupiicsa {
        max-width: 25%;
        margin-right: 16%;
        margin-top: -10%;
    }
}
