.customRectangle {
    width: 100vw; /* El rectángulo cubre todo el ancho del viewport */
    height: 25%; /* La altura del rectángulo es un porcentaje del alto del viewport */
    background-color: #41B59A; /* Color de fondo */
    border-radius: 0 0 30% 0; /* Borde inferior redondeado */
    margin-top: 0px; /* Deja suficiente espacio para el navbar */
    margin-bottom: 25%; /* Agrega un margen inferior para separar el rectángulo del footer */
    position: relative; /* Se coloca sin solaparse con otros elementos */
    transition: height 0.3s ease; /* Transición suave en la altura */
}


/* Ajuste para pantallas más pequeñas */
@media (max-width: 1020px) {
    .customRectangle {
        height: 150vh; /* Aumenta la altura del rectángulo en pantallas medianas */
    }
}

/* Ajuste para pantallas grandes para evitar espacios vacíos */
@media (min-width: 1021px) {
    .customRectangle {
        height: 75%; /* Asegura que el rectángulo no quede vacío en pantallas grandes */
    }
}

.responsiveImage {
    max-width: 100%; /* La imagen se ajusta al ancho del contenedor */
    max-height: 100%; /* La imagen se ajusta a la altura del contenedor */
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
}

