@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    padding: 0.7em;
    background-color: #41B59A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000;
}

.navbar-mapa {
    border-radius: 0 0 35px 35px;
    overflow: hidden;
    z-index: 10; /* Mantén el Navbar por encima del mapa */
    position: relative; /* Asegura que el z-index funcione */
}



nav h2 {
    font-family: 'Edu AU VIC WA NT Pre', sans-serif;
    font-size: 2em;
    margin: 0;
    display: flex;
}

.menu-item {
    position: relative;
    left: -35px;
}

nav h2 span {
    color: #fff;
}

nav h2 span.green {
    color: #053321;
}

.logo-container {
    padding-left: 30px;
}

ul {
    padding-left: 10px;
    list-style-type: none;
    display: flex;
    gap: 1em;
    margin: 0;
}

ul li a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

ul li a:hover {
    background-color: transparent;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    transition: transform 0.3s ease;
}

.bar.open:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.bar.open:nth-child(2) {
    opacity: 0;
}

.bar.open:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

ul.active {
    display: flex;
}

@media (max-width: 1020px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-mapa {
        border-radius: 0 0 35px 35px; /* Aplica el border-radius solo en la página de Mapa */
        overflow: hidden; /* Evita que el contenido se desborde */
    }
    

    ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
        position: fixed;
        top: -100vh; /* Menú comienza fuera de la pantalla */
        left: 0;
        background-color: #41B59A;
        height: 100vh;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        transition: top 0.8s ease-in-out; /* Transición para cortina */
    }

    /* Menú abierto */
    ul.active {
        top: 0;
    }

    /* Ajustes para que los elementos ocupen más espacio y tengan texto grande */
    ul li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh / 3.5); /* Ocupa un poco menos de la pantalla */
    }

    /* Ajustes responsivos del tamaño del texto */
    ul li a {
        font-size: 2.5em; /* Tamaño de texto más pequeño */
        width: 100%;
        text-align: center;
        color: #fff;
    }

    /* Estilos del botón de cerrar */
    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
        z-index: 1100;
    }

    /* Botón de hamburguesa */
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 1100;
    }

    .hamburger .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
    }
}

/* Ajustes adicionales para pantallas pequeñas */
@media (max-width: 600px) {
    ul li a {
        font-size: 2em; /* Texto ligeramente más pequeño para pantallas muy pequeñas */
        .navbar-mapa {
            border-radius: 0 0 15px 15px; /* Aplica el border-radius solo en la página de Mapa */
            overflow: hidden; /* Evita que el contenido se desborde */
        }
        
    }
}
